
/projects/build/.svn
/projects/CppStructz
/build2010
/build
/buildBlocks
/projects/SupportLibs/CorePlug
/projects/SupportLibs/Crunchy
/cygbuild
/msysbuild
/build2012
/build2012x64
/build2013
/build2013x64
/build2010x64
/build2008x64
/build2008
/tmp
